@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'KoHo', sans-serif;
}
input[type=checkbox]:checked+label span:first-of-type {
  background-color: #10B981;
  border-color: #10B981;
  color: #fff;
}

input[type=checkbox]:checked+label span:nth-of-type(2) {
  text-decoration: line-through;
  color: #9CA3AF;
}

html.dark .rodal-dialog{
  background-color: #111827;
}

.loader div {
  animation-duration: 0.5s;
}

.loader div:first-child {
  animation-delay: 0.1s;
}

.loader div:nth-child(2) {
  animation-delay: 0.3s;
}

.loader div:nth-child(3) {
  animation-delay: 0.6s;
}